/* Admin nav */
nav {
	background-color: rgb(29, 39, 48);
	color: white;
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
	box-shadow: 0px 0px 0px 0px #93939333;
	z-index: 10;
}

nav svg {
	stroke: rgb(204, 204, 204);
}

nav div.nav-icon {
	padding: 15px 15px 15px 12px;
	margin-bottom: 5px;
	cursor: pointer;
	border-left: solid 3px transparent;
	transition: border-left-color 300ms;
}

nav div.nav-icon:hover {
	border-left-color: rgba(0, 195, 255, 0.37);
}

nav div.nav-icon:hover > span {
	display: inline-block;
}

nav div.nav-icon.active {
	border-left-color: rgb(0, 195, 255);
}

nav div.nav-icon > span {
	display: none;
	position: absolute;
	background-color: rgba(29, 39, 48, 0.97);
	margin-left: 34px;
	line-height: 16px;
	padding: 12px 14px;
	border-radius: 6px;
}
nav div.nav-icon > span::before {
	content: '';
	display: block;
	width: 0;
	height: 0;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	border-right: 8px solid rgba(29, 39, 48, 0.97);
	position: absolute;
	left: -8px;
	top: 11px;
}

/* Pages nav */
div.pages-nav {
	position: absolute;
	border-top: solid 1px #22222225;
	height: 360px;
	max-height: 65px;
	overflow: hidden;
	left: calc(32px + 30px);
	right: 0;
	bottom: 0;
	transition: max-height 300ms;
}
div.pages-nav.show{
	max-height: 360px;
}
div.pages-nav>header>svg{
	transition: transform 300ms;
}
div.pages-nav.show>header>svg{
	transform: rotate(-180deg);
}
div.pages-nav>header {
	padding: 20px 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: solid 1px #22222225;
}
div.pages-nav>header h3 {
	margin: 0;
}
div.pages-nav>header svg:hover {
	cursor: pointer;
	background-color: #e7e7e7;
	border-radius: 3px;
}
div.pages-nav>main {
	padding: 10px;
}